body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.containerbg{
  background-image: linear-gradient(65.9deg, rgba(169, 169, 169, 1) 5.5%, rgba(128, 128, 128, 0.74) 54.2%, rgba(192, 192, 192, 1) 55.2%, rgba(105, 105, 105, 1) 98.4%);
}

.containerbg2{
  background: hsla(212, 35%, 58%, 1);

background: linear-gradient(90deg, hsla(212, 35%, 58%, 1) 0%, hsla(218, 32%, 80%, 1) 100%);

background: -moz-linear-gradient(90deg, hsla(212, 35%, 58%, 1) 0%, hsla(218, 32%, 80%, 1) 100%);

background: -webkit-linear-gradient(90deg, hsla(212, 35%, 58%, 1) 0%, hsla(218, 32%, 80%, 1) 100%);

filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#6D90B9", endColorstr="#BBC7DC", GradientType=1 );
}


.navbar-brand img {
  max-height: 50px; /* Adjust the value as needed */
  width: auto;
  display: inline-block;
}

/* Optional: Center the image vertically */
.navbar-brand {
  display: flex;
  align-items: center;
}